BODY {
    background-image: url(../img/background.jpg);
    background-size: cover;
   }

header{
    background: #202020;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 95%;
    max-height: 7%;
    left: 0; right: 0;
    margin-block: 0% 1%;
    top: 0;
  }
  
  .logo{
    height:inherit;  
    margin-left: 2%;
    
    
}


.title_text{
  height: fit-content;
  position: relative;
  margin-block: 5% 1%;
}
.contentclass{
  position: static;
  margin-block: 1% 1%;
}

.wrapper{
  position: static;
  margin-top: 10%;
}
.wrapper2{
  position: static;
  margin-top: 3%;
}
.scroll {
  border: 1px solid #000;
  width: 60%;
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  left: 0;
  top: 0;
  position: absolute;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: rgba(250, 250, 250,0.7);
  
} .draw {
  border: 1px solid #000;
  max-width: 65%;
  height: 85%;
  left: 3;
  top: 10%;
  position: absolute;
  background-color: rgba(250, 250, 250,0.7);
} 

.container{
    border: 2px solid #000;
    min-height: 100px;
    background-color: rgba(100, 99, 99, 0.166);
  
    padding: 10px;
    margin-bottom: 20px;
}

.info{
  text-size-adjust: 4;
  opacity: 1;
}

.information{
    border: 2px solid #000;
    min-height: 70%;
    width: 30%;
    
    top: 10%;
    right: 1%;
    align-items: right;
    position: absolute;
    background-color: rgba(191, 184, 184, 0.7);
}
  
.plan{
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit:contain;
}
 
.formclass{
  width: 90%;
  object-fit:contain;

}
footer{
    background: #433d3d;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    position: fixed;
    max-height: 7%;
    left: 0; right: 0;
    bottom: 0;
    padding: 10px;
}